<h1>Posts</h1>

<!--  Displaying popular posts used helper method -->
<h2>What people are talking about</h2>
<%= popular_post_div(@popular_posts, current_user)%>

<!-- Displaying posts used helper method -->
<h2>All Posts</h2>
<%= popular_post_div(@posts, current_user)%>

